/* CSS Document */
/* Project name: AVAL FEDERAL */
/* File name: aval-federal.css */
/* Description: Global Style Sheet */
/* Creation date: May 2018 */
/* Frontend Dev: www.javier-herrera.com */
/* Version: 1.0 */
/* WARNING: Please don't edit this stylesheet. If you want to add/delete/modify some css rules, go to the SASS folder and edit the corresponding file */
/* COMPILER: You can compile the SASS files with prepros.io, koala-app.com, gulp, ruby gem sass */
/***********************************/
/*========= NORMALIZE V.4 =========*/
/***********************************/
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

progress {
  vertical-align: baseline; }

template, [hidden] {
  display: none; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }
  a:active, a:hover {
    outline-width: 0; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b, strong {
  font-weight: inherit; }

b, strong {
  font-weight: bolder; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

button,
input,
select,
textarea {
  font: inherit;
  margin: 0; }

optgroup {
  font-weight: bold; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }
  [type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

/*******************************/
/*========= FONT-FACE =========*/
/*******************************/
/***************************************/
/*========= CLEANERS & OTHERS =========*/
/***************************************/
*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none; }

a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  display: inline-block;
  outline: none; }

figure {
  line-height: 0;
  margin: 0; }

::-moz-selection {
  background: #075058;
  color: #ffffff; }

::selection {
  background: #075058;
  color: #ffffff; }

img {
  width: 100%; }

html {
  font-size: 62.5%; }

body {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  min-height: 400px; }

/*---------------*/
/*-- CLEARNER --*/
/*-------------*/
.cleaner {
  clear: both;
  display: block;
  width: 100%; }

/********************************/
/*========= ICONS-PACK =========*/
/********************************/
[data-icon] {
  background: url(../images/sprite-icons.svg) no-repeat;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  text-indent: -9999px; }

[data-icon*=head] {
  width: 45px;
  height: 45px; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

.row {
  margin-left: -15px;
  margin-right: -15px; }

.container::before, .container::after,
.row::before,
.row::after {
  content: " ";
  display: table; }

.container::after,
.row::after {
  clear: both; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-12 {
  width: 100%; }

.col-xs-11 {
  width: 91.66666667%; }

.col-xs-10 {
  width: 83.33333333%; }

.col-xs-9 {
  width: 75%; }

.col-xs-8 {
  width: 66.66666667%; }

.col-xs-7 {
  width: 58.33333333%; }

.col-xs-6 {
  width: 50%; }

.col-xs-5 {
  width: 41.66666667%; }

.col-xs-4 {
  width: 33.33333333%; }

.col-xs-3 {
  width: 25%; }

.col-xs-2 {
  width: 16.66666667%; }

.col-xs-1 {
  width: 8.33333333%; }

/*****************************/
/*========= HEADER =========*/
/***************************/
.main-header {
  box-shadow: 0 0 5px rgba(37, 37, 37, 0.3);
  position: relative;
  z-index: 10; }
  .main-header .container {
    padding: 15px; }

.logo {
  max-width: 190px; }

[class*=col-] {
  transition: 150; }

/*========= NAV-BAR =========*/
.toggle-nav {
  color: #0A7B88;
  width: 40px;
  height: 40px;
  font-size: 2em;
  cursor: pointer;
  margin-left: auto;
  border-radius: 3px;
  border: solid 1px currentColor;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row; }

.main-nav {
  display: none;
  width: 100%; }

.first-level-nav > li {
  font-size: 1.6em; }
  .first-level-nav > li > a {
    display: block;
    color: #525252;
    padding: 0.5em 0; }
    .first-level-nav > li > a:hover {
      text-decoration: underline; }

.account-btn {
  margin-top: 10px;
  width: 160px;
  font-size: 1.6em;
  color: #FC6666;
  line-height: 36px;
  text-align: center;
  border: 2px solid currentColor; }

/***********************************/
/*========= MAIN-CONTENT =========*/
/*********************************/
/*== General-styles ==*/
.shadow {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); }

.hidden-xs {
  display: none; }

.container.flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row; }

.step-marker {
  margin-top: 15px; }
  .step-marker span {
    display: inline-block;
    font-size: 1.5em; }
  .step-marker li {
    display: inline-block;
    background-color: #d8d8d8;
    width: 10px;
    height: 10px;
    margin: 10px 5px 0 0;
    border-radius: 50%; }
    .step-marker li.actual {
      width: 30px;
      border-radius: 15px; }

.first-section-header .step-marker span {
  color: #0A7B88; }

.first-section-header .step-marker li.actual {
  background-color: #0A7B88; }

.second-section-header .step-marker span {
  color: #5643FC; }

.second-section-header .step-marker li.actual {
  background-color: #5643FC; }

.third-section-header .step-marker span {
  color: #FC6666; }

.third-section-header .step-marker li.actual {
  background-color: #FC6666; }

.form-control {
  margin: 30px 0;
  position: relative;
  transition: 300ms; }
  .form-control.up {
    padding-top: 15px; }
  .form-control label {
    font-size: 1.6em;
    font-weight: 100;
    position: absolute;
    z-index: 5;
    left: 0;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    color: #525252;
    word-break: keep-all;
    transition: 300ms;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row; }
    .form-control label [class*=icon] {
      margin-right: 7px; }
    .form-control label.up {
      font-size: 1.2em;
      top: 0;
      transform: translateY(0); }
    .form-control label span {
      width: calc(100% - 35px);
      white-space: nowrap; }
  .form-control input {
    display: block;
    border: none;
    width: 100%;
    height: 30px;
    font-size: 1.3em;
    font-weight: 100;
    background-color: transparent;
    border-bottom: solid 1px #525252;
    border-radius: 0;
    outline: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none; }
    .form-control input:invalid {
      box-shadow: none;
      border: none;
      border-bottom: solid 1px #FC6666; }
    .form-control input.error {
      border-bottom: solid 2px #FC6666; }

.tooltip {
  position: absolute;
  background-color: #5643FC;
  color: #ffffff;
  padding: 10px;
  font-size: 1.2em;
  font-weight: 100;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  transform: translateY(-120%);
  border-radius: 5px 5px 5px 0;
  display: none; }
  .tooltip::after {
    content: '';
    border-style: solid;
    border-width: 10px;
    border-color: #5643FC transparent transparent transparent;
    position: absolute;
    left: 0px;
    bottom: -20px; }

.submit-btn {
  height: 45px;
  width: 100%;
  max-width: 220px;
  border-radius: 25px;
  border: none;
  padding: 0 5px 0 15px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row; }
  .submit-btn span {
    color: #FFFFFF;
    font-size: 1.6em; }
  .submit-btn b {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #FFFFFF;
    font-size: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row; }

.resume-data-header {
  background-color: #0A7B88;
  padding: 15px;
  margin: 0 -15px; }
  .resume-data-header.second-step {
    background-color: #5643FC; }
  .resume-data-header h2 {
    font-weight: 400;
    font-size: 2em;
    color: #FFF;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row; }
    .resume-data-header h2 svg {
      width: 15px;
      margin-left: 10px; }
    .resume-data-header h2 i {
      margin-left: auto;
      margin-right: 5px; }

.resume-data-info {
  margin-top: 30px; }
  .resume-data-info span {
    font-size: 1.4em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row; }
    .resume-data-info span i {
      margin-right: 5px; }
  .resume-data-info p {
    margin: 3px 0 25px;
    font-weight: 100;
    color: #525252;
    font-size: 1.8em;
    word-break: break-word; }

.sect-resume-data-edit {
  display: inline-block;
  font-size: 1.3em;
  margin-top: 20px;
  color: currentColor;
  padding: 5px 0; }

[id$=sect] {
  background-color: #f9f9f9; }

.disclaimer {
  display: inline-block;
  padding: 40px 0 30px;
  font-size: 1em;
  line-height: 1.3;
  font-weight: 100;
  color: #afafaf; }

#first-sect .sect-resume-data,
#second-sect,
#second-sect .sect-resume-data,
#third-sect,
#fourth-sect,
#fifth-sect {
  display: none; }

/*== General-styles ==*/
/*== First Section ==*/
.first-section-header h2 {
  color: #0A7B88;
  font-weight: 500;
  font-size: 2.5em; }
  .first-section-header h2 span {
    font-size: 0.7em; }

#first-sect p {
  color: #525252;
  font-size: 1.8em; }
  #first-sect p br {
    display: none; }

#first-sect .form-control input,
#first-sect .submit-btn b {
  color: #0A7B88; }

#first-sect .submit-btn {
  background-color: #0A7B88; }

#first-sect .sect-resume-data {
  color: #0A7B88; }

/*== First Section ==*/
/*== Second Section ==*/
.second-section-header h2 {
  color: #525252;
  font-weight: 400;
  font-size: 2em;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: row; }
  .second-section-header h2 img {
    width: 35px;
    margin-top: 5px; }
  .second-section-header h2 span {
    width: calc(100% - 35px);
    padding-left: 15px; }

#second-sect .form-control label [class*=icon],
#second-sect .form-control input,
#second-sect .submit-btn b {
  color: #5643FC; }

#second-sect .submit-btn {
  background-color: #5643FC; }

#second-sect .sect-resume-data {
  color: #5643FC; }

/*== Second Section ==*/
/*== Third Section ==*/
.third-section-header h2 {
  color: #525252;
  font-weight: 400;
  font-size: 2em;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: row; }
  .third-section-header h2 img {
    width: 35px;
    margin-top: 5px; }
  .third-section-header h2 span {
    width: calc(100% - 35px);
    padding-left: 15px; }
  .third-section-header h2 b {
    font-weight: 500; }

#third-sect .submit-btn b {
  color: #FC6666; }

#third-sect .submit-btn {
  background-color: #FC6666; }

.aval-box {
  background-color: #FFFFFF;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 20px 0;
  border-left: solid 5px #FC6666;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); }
  .aval-box p {
    color: #525252;
    font-size: 1.4em; }
  .aval-box h3 {
    color: #525252;
    font-size: 3em;
    font-weight: 500;
    margin: 20px 0; }

.call-to-action {
  margin-top: 30px;
  font-size: 1.5em;
  line-height: 1.4;
  color: #525252; }

/*== Second Section ==*/
/*== Fourth Section ==*/
#fourth-sect p {
  font-size: 1.8em;
  color: #525252; }
  #fourth-sect p br {
    display: none; }

#fourth-sect .form-control input {
  color: #0A7B88;
  font-size: 1.5em; }

#fourth-sect .submit-btn {
  background-color: #535253; }

/*== Fourth Section ==*/
/*== Fifth Section ==*/
#fifth-sect {
  height: calc(100vh - 80px); }

.thanks-wrap {
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  flex-direction: row; }
  .thanks-wrap figure {
    width: 100%;
    text-align: center; }
    .thanks-wrap figure img {
      max-width: 400px; }
  .thanks-wrap p {
    order: -1;
    margin: 0 0 30px;
    font-size: 2.5em;
    color: #525252;
    text-align: center; }

/*== Fifth Section ==*/
/************************************/
/*========= MEDIA-QUERIES =========*/
/**********************************/
@media (min-width: 768px) {
  /* ==Bootstrap== */
  .container {
    width: 750px; }
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }
  .col-sm-12 {
    width: 100%; }
  .col-sm-11 {
    width: 91.66666667%; }
  .col-sm-10 {
    width: 83.33333333%; }
  .col-sm-9 {
    width: 75%; }
  .col-sm-8 {
    width: 66.66666667%; }
  .col-sm-7 {
    width: 58.33333333%; }
  .col-sm-6 {
    width: 50%; }
  .col-sm-5 {
    width: 41.66666667%; }
  .col-sm-4 {
    width: 33.33333333%; }
  .col-sm-3 {
    width: 25%; }
  .col-sm-2 {
    width: 16.66666667%; }
  .col-sm-1 {
    width: 8.33333333%; }
  /* ==Bootstrap== */ }

@media (min-width: 992px) {
  body {
    padding-bottom: 40px; }
  /* ==Bootstrap== */
  .container {
    width: 970px; }
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }
  .col-md-12 {
    width: 100%; }
  .col-md-11 {
    width: 91.66666667%; }
  .col-md-10 {
    width: 83.33333333%; }
  .col-md-9 {
    width: 75%; }
  .col-md-8 {
    width: 66.66666667%; }
  .col-md-7 {
    width: 58.33333333%; }
  .col-md-6 {
    width: 50%; }
  .col-md-5 {
    width: 41.66666667%; }
  .col-md-4 {
    width: 33.33333333%; }
  .col-md-3 {
    width: 25%; }
  .col-md-2 {
    width: 16.66666667%; }
  .col-md-1 {
    width: 8.33333333%; }
  /* ==Bootstrap== */
  .toggle-nav {
    display: none; }
  .main-nav {
    width: calc(100% - 190px);
    display: flex !important;
    justify-content: space-between; }
  .first-level-nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row; }
    .first-level-nav li {
      margin: 0 20px; }
  .account-btn {
    margin: 0; }
  .main-container {
    margin-top: 50px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    background-image: url(../images/content-bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; }
    .main-container .row.flex {
      display: flex;
      justify-content: flex-start;
      align-items: stretch;
      flex-wrap: wrap;
      flex-direction: row; }
  [id$=sect] {
    background-color: transparent; }
  .step-marker {
    margin-top: 0;
    text-align: right; }
  .submit-btn {
    float: right; }
    .submit-btn.no-float {
      float: none; }
  #first-sect p br {
    display: block; }
  .first-section-header,
  .second-section-header,
  .third-section-header {
    margin: 30px 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row; }
    .first-section-header h2,
    .second-section-header h2,
    .third-section-header h2 {
      order: -1;
      margin: 20px 0; }
  #first-sect {
    border-top: solid 3px #0A7B88; }
  #second-sect {
    border-top: solid 3px #5643FC; }
  #third-sect {
    border-top: solid 3px #FC6666; }
  .second-section-header h2,
  .third-section-header h2 {
    max-width: 500px;
    padding-left: 15px; }
  .disclaimer {
    padding-top: 40px; }
  .sect-resume-data {
    padding: 1px 0;
    height: 100%; }
    .sect-resume-data section {
      height: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: stretch;
      flex-wrap: wrap;
      flex-direction: column; }
    .sect-resume-data .sect-resume-data-edit {
      margin-top: auto;
      padding: 15px 0; }
  .resume-data-header {
    background-color: transparent !important; }
    .resume-data-header h2 {
      color: #525252; }
      .resume-data-header h2 svg path {
        fill: #525252; }
      .resume-data-header h2 i {
        display: none; }
  #fourth-sect {
    border-top: solid 3px #0A7B88; }
    #fourth-sect p {
      font-size: 2em;
      margin: 50px 0; }
      #fourth-sect p br {
        display: block; }
  #fifth-sect {
    height: auto;
    border-top: solid 3px #525252; }
  .thanks-wrap {
    padding: 60px 0; }
    .thanks-wrap p {
      font-size: 2em;
      width: 560px;
      order: 0;
      margin: 40px 0 0; } }

@media (min-width: 1200px) {
  /* ==Bootstrap== */
  .container {
    width: 1170px; }
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }
  .col-lg-12 {
    width: 100%; }
  .col-lg-11 {
    width: 91.66666667%; }
  .col-lg-10 {
    width: 83.33333333%; }
  .col-lg-9 {
    width: 75%; }
  .col-lg-8 {
    width: 66.66666667%; }
  .col-lg-7 {
    width: 58.33333333%; }
  .col-lg-6 {
    width: 50%; }
  .col-lg-5 {
    width: 41.66666667%; }
  .col-lg-4 {
    width: 33.33333333%; }
  .col-lg-3 {
    width: 25%; }
  .col-lg-2 {
    width: 16.66666667%; }
  .col-lg-1 {
    width: 8.33333333%; }
  .row {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    flex-direction: row; }
  /* ==Bootstrap== */ }

/*# sourceMappingURL=aval-federal.css.map */